<h1> Enter Detail</h1>

<%= form_for @task, method: :post, remote: true do |form| %>
    <p>
        <%= form.label :Task_name %><br>
        <%= form.text_field :t_name %>
    </p>
    <p>
        <%= form.label :Description %><br>
        <%= form.text_field :description %>
    </p>
    <p>
        <%= form.label :Project_name %><br>
        <%= form.select :project_id, collection: Project.pluck(:p_name, :id) %>
    </p>
    </p>
        <%= form.submit %>
    </p>
<% end %>


